<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		
		<!-- As of the time of writing, all art is All Rights Reserved. This means both humans and ai are not allowed to reuse my images. This may change in the future. -->
		<meta name="robots" content="noai, noimageai" />
		
		<!-- Stylesheets -->
		<link rel="stylesheet" media="screen" href="web.css" />
		<link rel="stylesheet" media="print" href="print.css" />

		<!-- Manifest -->
		<link rel="manifest" href="manifest.json" />
		
		<!-- TODO: Implement Cookie Consent -->
		<!--<script async src="https://www.googletagmanager.com/gtag/js?id={GOOGLE_ANALTICS_ID}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{GOOGLE_ANALTICS_ID}');
		</script>-->
	</head>
	<body>
		{HTML_BODY}
	</body>
</html>
